@use 'sass:map';

// Define light and dark theme variables
$theme-colors: (
  light: (
    background: #ffffff,
    text: #121212,
    primary: #0075d7,
    secondary: #fda001,
  ),
  dark: (
    background: #121212,
    text: #ffffff,
    primary: #badefc,
    secondary: #ffc627,
  )
);

// Function to retrieve the variable for the current theme
@function theme($key, $mode: light) {
  @return map.get(map.get($theme-colors, $mode), $key);
}

// Default light theme variables
:root {
  --background: #{theme('background')};
  --text: #{theme('text')};
  --primary: #{theme('primary')};
  --secondary: #{theme('secondary')};
}

// Dark theme variables using the dark-mode class
.dark-mode {
  --background: #{theme('background', dark)};
  --text: #{theme('text', dark)};
  --primary: #{theme('primary', dark)};
  --secondary: #{theme('secondary', dark)};
}

// Apply the theme variables to your styles
body {
  background-color: var(--background);
  color: var(--text);
}

a {
  color: var(--primary);
}

button {
  background-color: var(--secondary);
}
