@use '../abstracts/variables' as v;
@use '../abstracts/mixins' as m;

@layer utilities.text {
  // Font families
  .font-primary {
    font-family: v.$font-primary;
  }

  .font-secondary {
    font-family: v.$font-primary;
  }

  // Font xl sizes
  .fs-xl-100 {
    font-size: var(--fs-xl-100);
  }

  // Font sizes
  .fs-100 {
    font-size: var(--fs-100);
  }

  .fs-200 {
    font-size: var(--fs-200);
  }

  .fs-300 {
    font-size: var(--fs-300);
  }

  .fs-400 {
    font-size: var(--fs-400);
  }

  .fs-500 {
    font-size: var(--fs-500);
  }

  .fs-600 {
    font-size: var(--fs-600);
  }

  // Font sm sizes
  .fs-sm-100 {
    font-size: var(--fs-sm-100);
  }

  .fs-sm-200 {
    font-size: var(--fs-sm-200);
  }

  .fs-sm-300 {
    font-size: var(--fs-sm-300);
  }

  .fs-sm-400 {
    font-size: var(--fs-sm-400);
  }

  .fs-sm-500 {
    font-size: var(--fs-sm-500);
  }

  // Font weights
  .fw-400 {
    font-weight: v.$fw-400;
  }

  .fw-500 {
    font-weight: v.$fw-500;
  }

  .fw-600 {
    font-weight: v.$fw-600;
  }

  .fw-700 {
    font-weight: v.$fw-700;
  }

  .fw-800 {
    font-weight: v.$fw-800;
  }

  // Text align
  .text-left {
    text-align: left;
  }

  .text-start {
    text-align: start;
  }

  .text-center {
    text-align: center;
  }

  .text-right {
    text-align: right;
  }

  .text-end {
    text-align: end;
  }

  // Text wrap
  .text-wrap {
    white-space: normal;
  }

  .text-nowrap {
    white-space: nowrap;
  }

  // Text word break
  .text-break {
    word-wrap: break-word;
    word-break: break-word;
  }

  .text-keep-all {
    word-break: keep-all;
  }

  // Text truncate
  .text-truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  // Text transform
  .text-lowercase {
    text-transform: lowercase;
  }

  .text-uppercase {
    text-transform: uppercase;
  }

  .text-capitalize {
    text-transform: capitalize;
  }

  // Line height
  .lh-1 {
    line-height: 1;
  }

  .lh-sm {
    line-height: 1.25;
  }

  .lh-base {
    line-height: 1.5;
  }

  .lh-lg {
    line-height: 2;
  }

  // First letter capitalization
  .fl-capitalize {
    text-transform: capitalize;
  }

  // Icon weight
  .iw-semi-bold {
    font-variation-settings: var(--iw-semi-bold);
  }

  .iw-bold {
    font-variation-settings: var(--iw-bold);
  }

  .ie-low {
    font-variation-settings: var(--ie-low) !important;
  }

  // Text side lines
  .text-decoration-side-lines {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    gap: .75rem;
    align-items: center;

    &:before,
    &:after {
      content: '';
      height: 2px;
      border-radius: v.$rounded-full;
      background-color: rgba(var(--theme-muted-rgba), .55);
    }
  }

  .text-decoration-underline {
    border-bottom: 2px dashed var(--theme-primary-a10);
  }

  // Text selection
  .user-select-all {
    user-select: all;
  }

  .user-select-none {
    user-select: none;
  }

  // Text headings
  .text-hero {
    font-size: var(--fs-xl-100);
    font-weight: v.$fw-800;
    line-height: 1.25;
  }

  // Use for medium headings like colors name
  .text-heading {
    font-size: var(--fs-400);
    font-weight: v.$fw-800;
    line-height: 1.25;

    &:is(.heading-lg) {
      font-size: var(--fs-200);
    }

    &:is(.heading-xl) {
      font-size: var(--fs-xl-100);
    }
  }

  // Use for medium-small subheadings
  .text-subheading {
    --_text-subheading-gutter: .55rem;

    font-size: var(--fs-500);
    font-weight: v.$fw-800;
    margin-bottom: var(--_text-subheading-gutter);

    position: relative;
    width: fit-content;

    &:is(.subheading-m0) {
      --_text-subheading-gutter: 0;
    }

    &:is(.subheading-m1) {
      --_text-subheading-gutter: .25rem;
    }

    &:is(.subheading-m2) {
      --_text-subheading-gutter: 1rem;
    }

    // If it has a data-link attribute, add a hash icon
    &[data-link*='true'] {
      cursor: pointer;

      &:is(:hover) {
        &::before {
          opacity: 1;
          visibility: visible;
        }
      }

      &::before {
        content: 'tag';
        font-family: 'Material Symbols Rounded', sans-serif;
        font-variation-settings: 'wght' 400;
        font-size: var(--fs-500);
        color: var(--theme-primary-base);

        position: absolute;
        top: 0;
        bottom: 0;
        left: -1.25rem;
        margin: auto;

        opacity: 0;
        visibility: hidden;
        transition: opacity 200ms ease-in-out,
        visibility 200ms ease-in-out;
      }
    }
  }

  .text-title-description {
    display: inline-block;
    font-size: var(--fs-600);
    font-weight: v.$fw-600;

    ~ p:is(.subtitle-1) {
      position: relative;
      width: fit-content;
      color: var(--theme-muted-a10);

      &:after {
        position: absolute;
        content: '';
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: v.$rounded-sm;
        background-color: rgba(var(--theme-secondary-rgba), 20%);
        transform-origin: left;

        scale: 0 1;
        transition: scale 200ms v.$easing-out-fallback;
      }
    }

    // Scale highlight effect on the next p when text-title is hovered
    &:is(:hover) {
      ~ p:is(.subtitle-1) {
        color: var(--theme-secondary-a90);

        &:after {
          scale: 1 1;
          transition: scale 300ms ease-in-out;
        }
      }
    }
  }
}
